.featuredRecipe {
	--featured-padding: 0.75rem;
	padding: 0 var(--featured-padding) 0 0;

	background: var(--bg-subtle);
	box-shadow: var(--card-shadow);

	max-width: 60rem;

	display: grid;
	overflow: hidden;
}

.featuredRecipe + .featuredRecipe {
	margin-top: 1.5rem;
}

.featuredRecipe.large {
	--featured-padding: 0.75rem;
	grid-template-areas: "img title" "img tags" "img blurb";
	grid-template-columns: max-content 1fr;
	grid-template-rows: min-content min-content 1fr;
	gap: var(--featured-padding);
	max-height: 350px;
}

.featuredRecipe.noLarge {
	--featured-padding: 0.25rem;
	grid-template-areas: "img title" " img tags";
	grid-template-columns: 4.5rem 1fr;
	grid-template-rows: min-content min-content;
	gap: var(--featured-padding) 0.75rem;
}

.img {
	grid-area: img;
}

.tags {
	grid-area: tags;
}

.heading:is(h1, h2, h3) {
	grid-area: title;
	margin: var(--featured-padding) 0 0 0;
}

.noLarge .heading:is(h1, h2, h3) {
	font-size: 1.2em;
}

.blurb {
	grid-area: blurb;
}

.noLarge .blurb {
	display: none;
}

.blurb p {
	text-overflow: ellipsis;
	display: flex;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-height: 10rem;
}

.blurb p + p {
	display: none;
}
