.headerWrap {
	background: var(--primary);
	color: var(--primary-contrast);
	padding: 0.5rem 0 0.6rem;
}

.headerWrap :is(a) {
	color: var(--primary-contrast);
	text-decoration-color: transparent;
	transition: text-decoration-color var(--animation-duration) ease-in-out;
}

.headerWrap :is(a:hover, a:focus-visible) {
	text-decoration-color: var(--secondary-dark);
	transition: text-decoration-color var(--animation-duration) ease-in;
}

.headerWrap :is(a:focus-visible) {
	outline: var(--focus-outline-width) solid var(--focus-outline-color);
	outline-offset: var(--focus-outline-offset);
}

.header {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "title nav";
	gap: 1rem;
	align-items: center;
}

.siteName {
	grid-area: title;
	font-size: 2rem;
	line-height: 1;
}

.nav {
	grid-area: nav;
}

.navList {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
}

@media only screen and (max-width: 640px) {
	.siteName {
		font-size: 1.25rem;
	}
}
