.tagList {
	padding-left: 0;
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 clamp(5vh, 3rem, 50vh);
	font-size: 0.75rem;
	list-style: none;
	gap: 1rem;
}

.tagList svg {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.125rem;
}

.tagList.noMargin {
	margin-bottom: 0;
}

.tagList.small {
	flex-flow: row nowrap;
	font-size: 0.7rem;
	gap: 0.25rem;
	overflow-x: hidden;
}

.tagList.small svg {
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 0.1rem;
}
